@charset "utf-8";

/*
   Styles
   
   Author:   Nicole Manning Lorino
   Date:     7/30/2025
   
   Filename: manninglorinonicole_styles.css
   
   This file contains the layout styles used in the Portfolio
   home page.

*/

/* Text Styles */

h1, h2, table.reference thead th {
   font-family: Georgia, 'Times New Roman', serif;
   color: #22223B;
}

p, h2, ul li, table.reference {
   font-family: Verdana, Helvetica, Arial, sans-serif;
   color: #131320;
}


/* Body Designs */

html {
   background-color: #4A4E69;
   background-repeat: repeat;
   height: 100%;
}

body {
    background-color: #F2E9E4;
    min-height: 100%;
    min-width: 320px;
    max-width: 1024px;
    width: 100%;
    font-size: 18px;
    margin: 0px auto;
}

/* Header Designs */

header {
   width: 100%;
}

header img {
    display: block;
    margin: auto;
}


/* Navigation Styles */

nav.horizontal {
   background-color: #4A4E69;
   min-height: 2em;
   display: -webkit-flex;
   display: flex;
   justify-content: space-around;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
}

nav.horizontal ul li {
   display: block;
   width: 7em;
   line-height: 2em;
}

nav.horizontal a {
   display: block;
   font-size: 18px;
   text-decoration: none;
   padding-left: 5px;
}

nav.horizontal a:visited, nav.horizontal a:link {
   color: #F2E9E4;
}

nav.horizontal a:hover, nav.horizontal a:active {
   background-color: #9A8C98;
   display: block;
   color: #F2E9E4;
}


/* Main Menu Styles */

ul.mainmenu {
   display: -webkit-flex; 
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   justify-content: space-between;
}

ul.mainmenu li {
   text-align: center;
   display: block;
   width: 100%;
   position: relative;
}

/* Submenu Styles */

ul.submenu {
   position: absolute;
   width: auto;
   background-color: #C9ADA7;
}

ul.submenu li {
    text-align: left;
    display: block;
    width: auto;
    margin: 0px auto;
    padding-right: 50px;
    white-space: nowrap;
}

ul.submenu {
   display: none;
}

a.submenuTitle:hover+ul.submenu, ul.submenu:hover {
   display: block;
}

/* Header Styles */

h1 {
   display: block;
   margin: auto;
   text-align: center;
   font-size: 32px;
}

h2 {
   display: block;
   margin: auto;
   text-align: center;
   font-size: 18px;
   font-weight: normal;
   text-indent: 0px;
}

/* Main Section Styles */

section#main {
   display: block;
}

section#main1 {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   width: 90%;
   margin: 20px auto;
}

article {
   display: block;
   margin: auto;
   padding-left: 10px;
   width: 60%;
   text-indent: 30px;
}

article[id^="part"] {
   flex: 1 1 150px;
   margin: 0px 10px;
   border: 2px solid black;
   border-radius: 5px;
   padding: 0px;
}

article[id^="part"] p {
   padding: 10px;
}

section#main1 img {
   width: 90%;
   display: block;
   margin: 10px auto;
}

p#line {
   text-align: center;
   text-indent: 0px;
}

/* Button Designs */

section#buttons {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-evenly;
   width: 100%;
   margin-bottom: 30px;
}

section[id^="button"] p {
   text-align: center;
   align-items: baseline;
}

/* Table Designs */

table.reference {
    width: 60%;
    margin: 30px auto;
    border: 10px solid #988395;
    background-color: #e5d2cf;
    border-collapse: collapse;
}

table.reference tr {
    height: 25px;
}

table.reference col.module {
   width: 25%;
}

table.reference col.skill {
   width: 75%;
}

table.reference th#title {
   font-size: 23px;
   font-weight: bold;
}

table.reference th#mod, table.reference td {
    border: 2px solid #988395;
    font-weight: normal;
    padding: 5px;
    vertical-align: top;
    font-size: 18px;
}

/* Form Designs */

form {
   background-color: #988395;
   width: 60%;
   margin: 10px auto;
   border: 2px solid black;
   border-radius: 5px;
}

form input, fieldset {
   border-style: none;
}

/* Footer Designs */

footer {
   background-color: #4A4E69;
   color: #F2E9E4;
   padding: 15px;
   line-height: 1.6em;
   text-align: center;
}

address a {
   color: #F2E9E4;
}

footer p {
   font-family: Georgia, 'Times New Roman', serif;
   margin-top: 0px;
   margin-bottom: 0px;
   font-size: 20px;
   color: #F2E9E4;
}


/* ===============================
	Mobile Devices: 0 to 480px 
   ===============================
*/
@media only screen and (max-width: 480px) {

   p {
      font-size: 15px;
   }

   footer {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
   }

}

