@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Assignment 5.1 Jersey Buoys
   
   Author:   Nicole Manning Lorino
   Date:       6/27/2025
   
   Filename: jb_styles.css

   This file contains the screen styles used with the 
   Jersey Buoys home page

*/

